<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1>{{ student.first_name }}'s Profile</h1>
    <p>Email: {{ student.email }}</p>
    <p>Active: {% if student.is_active %}Yes{% else %}No{% endif %}</p>
    <form method="post" action="{% url 'detail_student' pk=student.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">{% if student.is_active %}Deactivate{% else %}Activate{% endif %}</button>
    </form>
    
</body>
</html>