 {% load static %}
 <!DOCTYPE html>
 <html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Student Dashboard
        </title>
       
       <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
     <h1>student Dashboard</h1>
        
        <header>
            <h1>Welcome</h1>
            <nav>
                <ul>
                    <li> <a href="#"> Make A Review</a</li>
                    <li><a href="#"> Update Pofile </a></li>
                    <li> <a href="list_lecturer"> List of lecturers</a></li>
                </ul>
            </nav>
        </header>
    </body>
 </html>